<div class="footer-wrapper">
    <div class="footer-container">
        <h1>Web Scraper</h1>
        <p>Handcrafted by Itamar Klein &copy; itamarkln4@gmail.com</p>
        <p>All rights reserved.</p>
        <div class="social-icon">
            <span>
            <i-feather
                name="instagram"
                (click)="onNavigateTo($event, 'header')"
            ></i-feather>
            </span>
            <span>
            <i-feather
                name="facebook"
                (click)="onNavigateTo($event, 'header')"
            ></i-feather>
            </span>
            <span>
            <i-feather
                name="twitter"
                (click)="onNavigateTo($event, 'header')"
            ></i-feather>
            </span>
            <span>
            <i-feather
                name="linkedin"
                (click)="onNavigateTo($event, 'header')"
            ></i-feather>
            </span>
        </div>
    </div>
</div>
