<div id="header" class="container">
    <div class="row">
        <div class="col-md-5 col-sm-10 left">
            <h1><span>Data scraping</span> has never been easier</h1>
            <p>
                Making web data extraction easy and accessible for everyone.
                More than 350,000 users are proud of using our solutions.
            </p>
            <div class="row row-input">
                <div class="col-md-8">
                    <div id="header-input" class="form-control"
                        data-text="Enter url.... e.g: http://example.com"></div>
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn">Get Started</button>
                </div>
            </div>
        </div>
        <div class="col-md-5 right">
            <img src="assets/images/header.png" alt="header-img">
        </div>
    </div>
</div>
<app-features></app-features>
<app-accordion></app-accordion>