@font-face {
    font-family: 'Poppins-light';
    src: url('/assets/fonts/poppins/Thin/Poppins-Thin.ttf');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Poppins-regular';
    src: url('/assets/fonts/poppins/Regular/Poppins-Regular.ttf');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins-bold';
    src: url('/assets/fonts/poppins/Bold/Poppins-Bold.ttf');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Poppins-italic';
    src: url('/assets/fonts/poppins/Italic/Poppins-Italic.ttf');
    font-style: normal;
    font-weight: 900;
}