<div class="features-wrapper">
  <div class="features-container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <span class="badge badge-warning">INSIGHT</span>
        <h1 class="title">Incredibly Powerful & Flexible</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="info info-hover">
          <div class="icon icon-primary">
            <img class="bg-blob" src="../assets/images/feature-formats.png" />
          </div>
          <h4 class="info-title">Data Formats</h4>
          <p class="description">
            The web scraper should generate the scraped data in different
            formats: CSV/Excel, JSON, APIs.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="info info-hover">
          <div class="icon icon-success">
            <img class="bg-blob" src="../assets/images/feature-dataset.png" />
          </div>
          <h4 class="info-title">Generating Clean Dataset</h4>
          <p class="description">
            The extracted data should not require a lot of post-processing
            before being useful.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="info info-hover">
          <div class="icon icon-warning">
            <img class="bg-blob" src="../assets/images/feature-performance.png" />
          </div>
          <h4 class="info-title">Performance</h4>
          <p class="description">
            Your data should be ready in minutes with the web scraper's high
            speed quality.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
